
.wetheapp-heading{text-align: center;
font-size: 48px;}

.search-form{
  padding: 50px;
  margin: 100px;
  
}
.container{
  border: 1px solid black;
  width: 80%;
  box-shadow:5px 5px 5px rgb(0,0,0,0.2);
  padding: 70px 50px;
  margin: 120px 300px;
}
.GitHub-link{
  padding: 0px 300px;
}




